    <div class="wrapper">
      <header>
        <h1><a href="{{ site.url }}"><b>Nicole</b></a></h1>
        <p>
        Born in Omaha, NE; grew up in Kansas City, MO; studied economics in Baton Rouge, LA; studied statistics in Austin, TX; currently working for <a href="http://www.neo4j.com" target="_blank">Neo4j</a> in San Mateo, CA.
        </p>

        <a href="http://stackoverflow.com/users/2848578/nicole-white">
		<img src="http://stackoverflow.com/users/flair/2848578.png" width="208" height="58" alt="profile for Nicole White at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Nicole White at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
		</a>
		<br><br>
		<p>Me<br>
			<a href="https://github.com/nicolewhite" target="_blank">GitHub</a><br>
			<a href="https://twitter.com/_nicolemargaret" target="_blank">Twitter</a><br>
			<a href="https://www.linkedin.com/pub/nicole-white/aa/247/556" target="_blank">LinkedIn</a><br>
			<a href="mailto:nicole.white@neotechnology.com">Email</a>
		</p>
		<p>R Packages<br>
			<a href="/RNeo4j">RNeo4j</a>
		</p>
		<p>Neo4j Graph Gists<br>
			<a href="http://gist.neo4j.org/?8173017" target="_blank">Movie Recommendations</a><br>
			<a href="http://gist.neo4j.org/?8412907" target="_blank">Project Management</a><br>
			<a href="http://gist.neo4j.org/?7331087" target="_blank">Spot Market Arbitrage</a><br>
			<a href="http://gist.neo4j.org/?6619085" target="_blank">US Flights & Airports</a>
		</p>
      </header>