    <div class="wrapper">
      <header>
        <h1><a href="{{ site.url }}">Nicole</a></h1>
		<p>
			<a href="https://twitter.com/_nicolemargaret" target="_blank">Twitter</a><br>
			<a href="https://www.linkedin.com/in/nicolemargaretwhite" target="_blank">Linked In</a><br>
			<a href="mailto:nicole.m.white@outlook.com">Contact Me</a>
		</p>
		<p>R Packages<br>
			<a href="/Rneo4j">Rneo4j</a>
		</p>
		<p>Datasets<br>
			<a href="https://github.com/nicolewhite/airline_fleets" target="_blank">Airline Fleets</a>
		</p>
		<p>Neo4j Graph Gists<br>
			<a href="http://gist.neo4j.org/?7486272" target="_blank">Markov Chains</a><br>
			<a href="http://gist.neo4j.org/?8173017" target="_blank">Movie Recommendations</a><br>
			<a href="http://gist.neo4j.org/?7201286" target="_blank">Pokémon X & Y</a><br>
			<a href="http://gist.neo4j.org/?8412907" target="_blank">Project Management</a><br>
			<a href="http://gist.neo4j.org/?7331087" target="_blank">Spot Market Arbitrage</a><br>
			<a href="http://gist.neo4j.org/?6619085" target="_blank">US Flights & Airports</a>
		</p>
      </header>