    <div class="wrapper">
      <header>
        <h1>Nicole</h1>
        <p>
        Born in Omaha, NE; grew up in Kansas City, MO; studied economics in Baton Rouge, LA; studied statistics in Austin, TX; currently working for <a href="http://www.neo4j.com" target="_blank">Neo4j</a> in San Mateo, CA.
        </p>

        <img src="{{ site.url }}/static/me.jpg" style="border:5px solid black">

        <br><br>

        <div align="center">
			<a class="btn btn-social-icon btn-github" href="https://github.com/nicolewhite">
				<i class="fa fa-github"></i>
			</a>

			<a class="btn btn-social-icon btn-reddit" href="http://stackoverflow.com/users/2848578/nicole-white">
				<img src="http://sstatic.net/stackoverflow/img/apple-touch-icon.png">
			</a>

			<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/_nicolemargaret">
				<i class="fa fa-twitter"></i>
			</a>
			
			<a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/pub/nicole-white/aa/247/556">
				<i class="fa fa-linkedin"></i>
			</a>

			<a class="btn btn-social-icon btn-google" href="mailto:nmwhite0131@gmail.com">
				<i class="glyphicon glyphicon-envelope"></i>
			</a>
		</div>
		
      </header>
