    <div class="wrapper">
      <header>
        <h1><a href="/RNeo4j"><b>RNeo4j</b></a></h1>
		<p>Interact with a Neo4j database through R.</p>
		<p>Resources<br>
			<a href="/RNeo4j">Installation</a><br>
			<a href="/RNeo4j/examples">Quick Example</a><br>
			<a href="/RNeo4j/docs">Documentation</a><br>
			<a href="/RNeo4j/samples">Sample Datasets</a><br>
			<a href="https://github.com/nicolewhite/RNeo4j">GitHub</a>
		</p>
		<p>Talk to Me<br>
			<a href="https://twitter.com/_nicolemargaret" target="_blank">Twitter</a><br>
			<a href="mailto:nicole.white@neotechnology.com">Email</a>
		</p>
      </header>
