    <div class="wrapper">
      <header>
        <h1><a href="http://nicolewhite.github.io/">Nicole</a></h1>
		<p><a href="https://twitter.com/_nicolemargaret">Twitter</a></p>
		<p>Neo4j Graph Gists<br>
			<a href="http://gist.neo4j.org/?7486272">Markov Chains</a><br>
			<a href="http://gist.neo4j.org/?8173017">Movie Recommendations</a><br>
			<a href="http://gist.neo4j.org/?7201286">Pokémon X & Y</a><br>
			<a href="http://gist.neo4j.org/?8412907">Project Management</a><br>
			<a href="http://gist.neo4j.org/?7331087">Spot Market Arbitrage</a><br>
			<a href="http://gist.neo4j.org/?6619085">US Flights and Airports</a><br>
		</p>
      </header>